.env

my_anime_list_parser/token.json

my_anime_list_parser/*

my_anime_data_cleaned/*

myanimedata/*

data/*

data_preprocessing/*

data/*

models_params/*

scalers/*

deployment/*

*accdb

*json

*pth

*pickle